h1, h2, p, header, form{
		margin: 0px;
		padding: 0px;
	}

	body{
		background: #F0F1F2;
	}
	.container{
		display: flex;
	}

	.menu{
		margin: 20px;
		height: 700px;
		width: 300px;
		padding-right: 20px;
		position: fixed;
		text-align: center;
		border-right: 1px solid white;
	}

	.menu h2{
		font-family: 'Libre Baskerville', serif;
		font-weight: 800;
		font-size: 64px;
		font-style: italic;
	}

	.menu p{
		font-family: 'Libre Baskerville', serif;
		font-weight: 800;
		font-size: 13px;
		line-height: 55px;
		color: #BDBFAA;
		text-transform: uppercase;
	}

	.logo{
		background-image: url('strawberry-heart.png');
		background-repeat: no-repeat;
		height: 32px;
		width: 32px;
		margin: auto;
	}

	.menu ul{
		list-style-type: none;
    	margin: 0;
    	padding: 0;
    	font-family: 'Libre Baskerville', serif;
		font-weight: 300;
		font-size: 22px;
		font-style: italic;

	}

	.menu li a{
		text-decoration: none;
		color: #949DA5;			
	}
	.item-component{
		display: flex;
		flex-flow: row wrap;
		overflow: hidden;
		margin-left: 365px;
	}

	.item-row{
		display: flex;
		overflow-y: hidden;
		overflow-x: scroll;
		height: 340px;
		flex-flow: row;
		width: 100%;
 	    margin-bottom: 10px;
 	     
	}

	.items{
		width: 200px;
		flex: none;
		margin-left: 4px;
		margin-right: 10px;
		height: 340px;
		overflow-y: hidden;
		background: white;

	}
	 
	form{
		display: inline-block;
	}


	.item-row h1 {
	    -moz-transform-origin:0 50%;
	    -moz-transform:rotate(-90deg) translate(-50%, 50%);
	    -webkit-transform-origin:0 50%;
	    -webkit-transform:rotate(-90deg) translate(-50%, 50%);
	    -o-transform-origin:0 50%;
	    -o-transform:rotate(-90deg) translate(-50%, 50%);
	    -ms-transform-origin:0 50%;
	    -ms-transform:rotate(-90deg) translate(-50%, 50%);
	    transform-origin:0 50%;
	    transform:rotate(-90deg) translate(-50%, 50%);
	    height:1em; /* line-height of .wrapper div:first-child span */
	    margin:auto;
	    line-height:1em; /* Copy to other locations */
	    color: black;
	    font-family: 'Libre Baskerville', serif;
		font-weight: 800;
		font-size: 30px;
		font-style: italic;
		width: 50px;
		background: #F4DBDA;
		border: 5px solid #BDBFAA;
	}

	.filter-box{
		padding: 10px;
		margin: 20px;
		margin-left: 65px;
		width: 100%;
		font-family: 'Libre Baskerville', serif;
		font-weight: 300;
		font-style: italic;		
		font-size: 16px;
		color: #949DA7;
	}

	label{
		padding-left: 10px;
	}

	img{
		display: block;
    	margin: 0 auto;
    	vertical-align: middle;

	}

	.search-result-image {
	    cursor: pointer;
	    width: auto;
	    max-height: 100%;
	    max-width: 100%;
	    margin: 0 auto;
	}

	.product-image-container {
		line-height: 230px;
		width: 180px;
    	height: 230px;
    	padding-top: 20px;

	}

	.item-description{
		padding-top: 10px;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: italic;		
		font-size: 14px;
		color: #949DA5;	
	}

	.top-tag{
		position: fixed;
		right: 50px;
		bottom: 0px;
		padding: 10px;
		width: 60px;
		border-radius: 20px 20px 0px 0px;
		background: #808080;
		text-align: center;
	}

	.top-tag a{
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: italic;		
		font-size: 14px;
		color: white;	
		
	}
